// Colors
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-bg-light: rgba(243, 243, 243, 1);
$color-white: white;
$color-black: rgba(53, 53, 53, 1);

// Fonts
$main-font: 'Roboto', sans-serif;

// Spacing
$padding-standard: 15px;
$margin-standard: 20px;

// Breakpoints
$mobile: 768px;
$breakpoint-desktop: 1024px;

// Dimensions
$header-img-width-mobile: 50%;
$header-img-width-desktop: 20%;
$menu-card-width-desktop: 80%;