// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

// Mixin pour ombrage
@mixin box-shadow($shadow: $box-shadow-light) {
  box-shadow: $shadow;
}

// Mixin pour les bordures arrondies
@mixin border-radius($radius: $border-radius) {
  border-radius: $radius;
}

// Mixin pour centrer un élément
@mixin center($axis: both) {
  @if $axis =='horizontal' or $axis =='both' {
    margin-left: auto;
    margin-right: auto;
  }

  @if $axis =='vertical' or $axis =='both' {
    margin-top: auto;
    margin-bottom: auto;
  }
}